<div class="container__big-card">

  <div class="big-card__photo">
    <img
      [src]="photoCover"
      [attr.alt]="imageAlt || cardTitle || 'Imagem do post em destaque'"
      height="200"
      width="400"
    >
  </div>

  <div class="big-card__title">
    <!-- Eu uso ['/content', Id] com / inicial para não virar /sobre/content/... quando estou em outra rota. -->
    <h1><a [routerLink]="['/content', Id]">{{ cardTitle }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a [routerLink]="['/content', Id]">
          {{ cardDescription }}
      </a>
    </p>
  </div>

</div>
